<div class="success-container">
    <div class="success-title">
        <h2><img src="../../img/check.svg" class="me-2" alt=""><b>Cek Ongkir Sukses!</b></h2>
        <h5>Nomor Transaksi: <%=result[0].id_transaksi%>/<%=result[0].nama_pelanggan%></h5>
    </div>
    <p class="mb-5">Biaya ongkos kirim akan dibebankan pada pelanggan</p>
    <table class="table table-hover">
        <tr>
            <th>Lokasi Asal</th>
            <th>Lokasi Tujuan</th>
            <th>Alamat Lengkap</th>
        </tr>
        <tr>
            <td>Bandung, Jawa Barat</td>
            <td><%=result[0].lokasi_tujuan%></td>
            <td><%=result[0].alamat%></td>
        </tr>
    </table>
    <h1 class="text-end mt-4">Rp.<%=result[0].harga%></h1>
</div>